.o-flex{
  display: flex;
}

.o-flex-column{
  flex-direction: column;
}

.o-flex-1{
  flex:1;
}

.o-grid{
  display: grid;
}

.o-grid--2{
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $unit-huge;
}

.o-grid--3{
  grid-template-columns: repeat(3, 1fr);
}

