.u-offset-bottom {
  padding-bottom: $unit;
}
.u-border-bottom{
border-bottom: 1px solid #eee;
}

.u-padding{
  padding: 1em;
}

.u-text-center{
  text-align: center;
}

.u-border-right{
  border-right: 1px solid #eee;
}